@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.audioContainer{
    display: flex;
}
 
.mainContainer{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.submitBtn{
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}
 
.submitBtn button{
    border-radius: 5px;
    padding: 1.5% 3%;
    outline: none;
    background-color: #fc9f32;
    color: #fef9f7;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    box-shadow: 2px 2px 10px 2px rgb(185, 184, 184);
}
 
.curr_playing{
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 3rem;
}
 
.curr_word_playing{
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1rem;
}
 
.islOutput{
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.3rem;
}
 
#isl_text{
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1rem;
}
 
.main{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.container{
    height: auto;
    margin: 0;
    padding: 0;
}
 
.divAv{
    height: 50vh;
    border-radius: 10px;
    border: 2px solid #fef9f7;
    background-color: white;
}
 
.canvasAv{
    height: 100%;
}
 
.anim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 
.CWASASpeed{
    float: right;
    width: fit-content;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 2%;
}
 
.txtLogSpeed{
    width: 12%;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.2rem;
}
 
.bttnSpeedDown{
    float: left;
    margin-left: 45%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.2rem;
}
 
.bttnSpeedUp{
    outline: none;
    border: none;
    background-color: transparent;
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.2rem;
}
 
 
.bttnSpeedReset{
    outline: none;
    border: none;
    background-color: transparent;
    color: #363636;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 3%;
}
 
.avatarChoice{
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
 
.avatarText{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: #fc9f32;
    margin-right: 1.5rem;
}
 
.menuAv{
    border: none;
    outline: none;
    background-color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: #363636;
    cursor: pointer;
    margin: 0;
}
 
.menuAv option{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.3rem;
}